# ignore jekyll metadata
_site
.sass-cache
.jekyll-metadata
_data/.jekyll-cache

# ignore bundler directories
.bundle/
vendor/

# ignore .ruby-version from rbenv 
.ruby-version

# ignore editor/ide stuff
tags
