<footer class="site-footer h-card">
<data class="u-url" href="{{ "/" | relative_url }}"></data>

<div class="wrapper">

    <div class="footer-col-wrapper">
        <div class="footer-col">
            {% if page.modified %}
            <p>This page was last updated on {{ page.modified | date_to_long_string }}.</p>
            {% endif %}
            <p>If you notice a problem with the website (like a broken link), you can report to the <a href="https://lgcu.ca/committees/#lgcu-website-committee">website committee</a>, or if you have a Github account, directly on our <a href="https://github.com/uoft-lgcu/lgcu.ca/issues">Issues page</a>.
        </div>
    </div>
</div>

</footer>
